
div.strawb-main {
	padding: 30px;
	background-color: #e3f1fa;
	font-size: 18px;
}

input.strawb-input{
	height: 50px;
	width: 200px;
	padding: 10px;
	vertical-align: middle;
}
input.strawb-submit-entry-button {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    border: none;        
	background-image: url('assets/plus_green.png');
	background-repeat: no-repeat;
	background-size: 30px 30px;
	height: 50px;
	width: 50px;
	background-position: center;
	display: inline-block;
	margin-left: 3px;
	padding: 0;
	cursor: pointer;
	vertical-align: middle;
}
.strawb-dropdown {
}
.strawb-dropdown ul {
	position: absolute; 
	border: dotted #cccccc 1px;
	list-style-type: none;
	width: 200px;
	text-align: left;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}
.strawb-dropdown ul li {
	border-bottom: dotted #cccccc 1px;
	padding: 10px;
	margin: 0;
	cursor: pointer;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.strawb-dropdown ul li:hover {
	background-color: #ededed;
}
.strawb-current-list {
	margin-top: 50px;
	width: 255px;
	text-align: left;
	font-size: 20px;
}
.strawb-current-list ul, .strawb-history ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-bottom: 50px;
	margin-bottom: 15px;
	border: 1px dotted #cccccc;
	min-height: 200px;
}
.strawb-list-placeholder {
	color: #a9a9a9;
	margin: 5px;
}
.strawb-current-list ul li, .strawb-history ul li {
	height: 52px;
	border: solid #cccccc 1px;
	border-radius: 5px;
	margin: 5px 0;
}
.strawb-item-text {
	width: 200px;
	padding: 10px;
	float: left;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.strawb-completed-item-button {
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    border: none;        
	background-image: url('assets/check_green.png');
	background-repeat: no-repeat;
	background-color: #e3f1fa;
	background-size: 30px 30px;
	background-position: center;
	height: 50px;
	width: 50px;
	display: inline-block;
	float: right;	
	padding: 0;
	margin: 0;
}
.strawb-delete-item-button {
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    border: none;        
	background-image: url('assets/x_grey.png');
	background-repeat: no-repeat;
	background-color: #e3f1fa;
	background-size: 30px 30px;
	background-position: center;
	height: 50px;
	width: 50px;
	display: inline-block;
	float: right;
	padding: 0;
	margin: 0;
}


/* FEEDBACK */
.strawb_feedback {

}
.strawb-feedback-input {
	font-size: 18px;
	width: 255px;
	min-height: 200px;
}
.strawb-feedback-submit-button {
	margin: 10px 0;
	width: 255px;
}


/* HISTORY */
.strawb-history {
	width: 255px;
	text-align: left;
	font-size: 20px;
}
.strawb-history ul li .strawb-item-text {
	width: 150px;
	padding: 10px;
	float: left;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.strawb-add-item-button {
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    border: none;        
	background-image: url('assets/plus_green.png');
	background-repeat: no-repeat;
	background-color: #e3f1fa;
	background-size: 30px 30px;
	height: 50px;
	width: 50px;
	background-position: center;
	display: inline-block;
	float: right;	
	padding: 0;
	margin: 0;
}



/* FOOTER */
.strawb-footer {
	height: 60px;
	width: 100%;
	position: fixed;
	bottom: 0;
}
.strawb-footer-bottom-bar {
 	background-color: #428bca;
 	height: 20px;
	width: 100%;
	position: fixed;
	bottom: 0;
}
.strawb-footer-button {
	height: 30px;
	min-width: 30px;
	float: left;
	background-color: #428bca;
	color: white;
	padding: 0 5px;
	margin: 10px;
	cursor: pointer;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#strawb_footer_home_button {
	background-image: url('assets/home.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
}
#strawb_footer_feedback_button {
	background-image: url('assets/mail_black.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 15px;
}
#strawb_footer_history_button {
	background-image: url('assets/clock_black.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;	
}
.inline {
	display: inline-block;
}